<template>
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <p>Are you shure you want to delete this contact?</p>
                <a @click="doDelete" class="button is-danger" :class="{'is-loading' : deleting}">Yes</a>
                <a @click="exitDelete" href="#" class="button">No</a>
            </div>
        </div>
        <button @click="exitDelete" class="modal-close is-large" aria-label="close"></button>
    </div>
</template>

<script>
    export default {
        props: [
            'deleting'
        ],
        data () {
            return {}
        },
        methods: {
            doDelete () {
                if (!this.deleting) this.$emit('do-delete');
            },
            exitDelete () {
                this.$emit('exit-delete');
            }
        }
    }
</script>
