<template>
    <form @submit.prevent="submitForm" class="columns" enctype="multipart/form-data" ref="form">
        <ImageContainer
            class="column is-3 is-offset-2"
            :picture="contact.picture"
            :pictureUrl="contact.pictureUrl"
            :errors="errors.picture"
            @remove-image="contact.picture = null">
        </ImageContainer>

        <div class="column is-5">
            <div class="field has-text-right">
                <input type="hidden" :value="contact.favorite" name="favorite">
                <span class="button" :class="{ 'is-danger' : isFavorite  }" @click="contact.favorite = !contact.favorite">
                    <span class="icon is-small">
                        <i class="fa fa-heart"></i>
                    </span>
                    <span>Favorite</span>
                </span>
            </div>

            <MainInputs
                :fields="fields"
                :errors="errors"
                :contact="contact">
            </MainInputs>

            <hr>

            <Phonenumbers
                v-for="(number, key) in contact.phonenumbers"
                :phonenumber="number"
                :key="key"
                :index="key"
                :errors="errors"
                @remove="phonenumberRemove(key)">
            </Phonenumbers>

            <div class="has-text-right">
                <span @click="phonenumberAdd" class="button is-success">
                    <span class="icon is-small">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span>Add number</span>
                </span>
            </div>

            <hr>
            <button tpye="submit" class="button is-primary">
                <span class="icon is-small">
                    <i class="fa fa-save"></i>
                </span>
                <span>Save</span>
            </button>
        </div>
    </form>
</template>

<script>
    import ImageContainer from './form/image-container.vue';
    import Phonenumbers   from './form/phonenumber.vue';
    import MainInputs     from './form/main-inputs.vue';

    export default {
        props: [
            'contact',
            'fields',
            'errors',
        ],
        components: {
            ImageContainer,
            Phonenumbers,
            MainInputs
        },
        data () {
            return {}
        },
        computed: {
            isFavorite () {
                return this.contact.favorite;
            }
        },
        methods: {
            phonenumberAdd () {
                this.contact.phonenumbers.push([])
            },
            phonenumberRemove (key) {
                this.contact.phonenumbers.splice(key, 1)
            },
            submitForm () {
                let formData = this.getFormData();
                this.$emit('submit', formData)
            },
            getFormData () {
                // Get all form data
                let formData = new FormData(this.$refs.form);
                // Empty phonenumbers means we remove them all
                // Not passing phonenumbers means we only update contact
                if (this.contact.phonenumbers.length === 0) {
                    formData.append("phonenumbers", []);
                }

                return formData;
            }
        }
    }
</script>
