<template>
    <section>
        <a @click="$router.go(-1)" class="button is-link">
            <span class="icon">
                <i class="fa fa-chevron-left"></i>
            </span>
            <span>Back</span>
        </a>

        <router-link :to="{ name: 'edit', params: { id: $route.params.id }}" v-if="$route.name === 'show'" class="button is-primary">
            <span class="icon">
                <i class="fa fa-pencil"></i>
            </span>
            <span>Edit</span>
        </router-link>

        <a @click="isDelete" class="button is-danger" v-if="$route.name === 'edit'">
            <span class="icon">
                <i class="fa fa-trash"></i>
            </span>
            <span>Delete</span>
        </a>
    </section>
</template>

<script>
    export default {
        data () {
            return {}
        },
        methods: {
            isDelete () {
                this.$emit('is-delete');
            }
        }
    }
</script>
