<template>
    <div class="columns">
        <div class="column is-3 is-offset-2">
            <figure class="image is-1by1">
                <img v-if="contact.picture" v-bind:src="contact.pictureUrl" class="is-rounded">
            </figure>

        </div>
        <div class="column is-5">
            <div class="has-text-right">
                <span v-if="contact.favorite" class="is-danger tag is-small">
                    <span class="icon is-small">
                        <i class="fa fa-heart"></i>
                    </span>
                    <span>Favorite</span>
                </span>
            </div>
            <div v-for="(field, key) in fields">
                <p class="subtitle is-6">{{field.name}}</p>
                <p class="title is-4">{{contact[key]}}</p>
                <br>
            </div>

            <div v-for="(number, key) in contact.phonenumbers">
                <p class="subtitle is-7">{{number.type}}</p>
                <p class="title is-5">{{number.number}}</p>
                <br>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'contact',
            'fields'
        ],
    }
</script>
