<template>
    <section class="columns list-wrapper">
        <div class="column is-4">
            <input v-model="filters.search" class="input" type="text" placeholder="Search...">
        </div>
        <br>
        <div class="column is-6">
            <span @click="setGroup(null)" v-bind:class="{'is-link' : isGroup(null)}" class="button">
                All
            </span>
            <span @click="setGroup('favorites')" v-bind:class="{'is-link' : isGroup('favorites')}" class="button">
                Favorites
            </span>
        </div>
        <div class="column is-2 has-text-right">
            <router-link :to="'/create'" class="button is-success">
                <span class="icon"><i class="fa fa-plus"></i></span>
                <span>Add contact</span>
            </router-link>
        </div>
    </section>
</template>

<script>
    export default {
        props: [
            'filters'
        ],
        watch : {
            'filters.search': {
                handler(value) {
                    this.filterDelay({
                        'search' : value,
                        'page'   : 1
                    });
                }
            }
        },
        methods: {
            isGroup (group) {
                return (this.filters.groups === group);
            },
            setGroup (group) {
                console.log(group);
                this.setFilter({'groups': group});
            },
            setFilter (filter) {
                this.$emit('set-filter', filter);
            },
            // So our api callback doesn't trigger with every keystroke
            filterDelay (value) {
                clearTimeout(this.searchTimer)
                this.searchTimer = setTimeout(x => this.setFilter(value), 300);
            },
        }
    }
</script>

<style>
.list-wrapper {
    margin-top: 20px;
}
</style>
