<template>
    <div class="column is-2">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                  {{contact.firstname}} {{contact.lastname}}
                </p>
            </header>
            <div class="card-content">
                <figure class="image is-1by1">
                    <img v-if="contact.pictureUrl" class="is-rounded" v-bind:src="contact.pictureUrl">
                    <div
                        :style="getColor(contact.firstname)"
                        v-if="!contact.pictureUrl"
                        class="is-rounded image-placeholder">
                    </div>
                    <span v-if="contact.favorite" class="is-danger tag is-small pull-upper-right">
                        <span class="icon is-small">
                            <i class="fa fa-heart"></i>
                        </span>
                    </span>
                </figure>
            </div>
            <footer class="card-footer">
                <router-link :to="'/' + contact.id" class="card-footer-item">
                    <span>View</span>
                </router-link>
            </footer>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'contact'
        ],
        methods: {
            getColor(str) {
                var hash = 0;
                for (var i = 0; i < str.length; i++) {
                   hash = str.charCodeAt(i) + ((hash << 5) - hash);
                }
                return 'background-color:#' + this.intToRGB(hash) + ';';
            },
            intToRGB(i){
                var c = (i & 0x00FFFFFF)
                    .toString(16)
                    .toUpperCase();

                return "00000".substring(0, 6 - c.length) + c;
            }
        }
    }
</script>
<style>
.pull-upper-right {
    position: absolute;
    top: 0;
    right: 0;
}
.image-placeholder {
    position: absolute;
    background-color: rgb(170, 173, 185);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity:0.5;
}
</style>
