<template>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <a :disabled="!(filtersPage > 1)" @click="previous(filtersPage)" class="pagination-previous">
            Previous
        </a>
        <a :disabled="!(filtersPage < totalPages)" @click="next(filtersPage)" class="pagination-next">
            Next page
        </a>
        <ul class="pagination-list">
            <li v-for="n in totalPages">
                <a @click="goToPage(n)" class="pagination-link" :class="{'is-current' : n === currentPage}">{{n}}</a>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        props: [
            'currentPage',
            'totalPages',
            'filtersPage'
        ],
        methods: {
            next (page) {
                page ++;
                if (page <= this.totalPages) {
                    this.goToPage(page);
                }
            },
            previous (page) {
                page --;
                if (page) {
                    this.goToPage(page);
                }
            },
            goToPage(page) {
                this.$emit('go-to-page', page);
            }
        }
    }
</script>
