<template>
    <div>
        <ListFilters :filters="filters" @set-filter="setFilters"></ListFilters>

        <div class="columns is-multiline" style="position:relative;">
            <ListItem
                v-for="contact in contacts"
                :key="contact.id"
                :contact="contact">
            </ListItem>
            <div v-if="!contacts.length" class="has-text-centered column is-12">
                <h2 class="is-size-3">No results</h2>
                <h2 class="is-size-5 muted">Try searching something else</h2>
            </div>
            <LoadingOverlay :loading="loading"></LoadingOverlay>
        </div>

        <ListPagination
            :filters-page="filters.page"
            :current-page="page.current"
            :total-pages="page.total"
            @go-to-page="pageGoTo">
        </ListPagination>

    </div>
</template>

<script>
    import {api} from '../mixins/api.js'
    import LoadingOverlay from './loading-overlay.vue';
    import ListItem       from './list/item.vue';
    import ListFilters    from './list/filters.vue';
    import ListPagination from './list/pagination.vue';

    export default {
        mixins: [api],
        components: {
            LoadingOverlay,
            ListPagination,
            ListFilters,
            ListItem
        },
        data () {
            return {
                loading: 0,
                page: {},
                contacts: [],
                filters: {
                    search : null,
                    groups : null,
                    page   : 1
                }
            };
        },
        methods: {
            pageGoTo(page) {
                this.setFilters({page: page})
            },
            setFilters(filters) {
                for (let i in filters) {
                    this.filters[i] = filters[i];
                }
                this.get();
            },
            getNonEmptyFilters () {
                // NOTE for some strange reson array.prototype.filter doesn't
                // work, so I'm using old school way
                // ERR filter is not a function
                let $return = {};

                for (let i in this.filters) {
                    if (this.filters[i]) {
                        $return[i] = this.filters[i];
                    }
                }

                return $return;
            },
            async get() {
                this.loading++;

                this.setRouteByFilters();

                let query = this.getNonEmptyFilters();
                let response = await this.getContacts(query);

                if (response) {
                    this.contacts = response.data
                    this.page = {
                        current : response.current_page,
                        total : response.last_page
                    }
                    if (response.last_page < this.filters.page) {
                        this.pageGoTo(response.last_page)
                    }
                }

                this.loading--;
            },
            setRouteByFilters () {
                this.$router.replace({
                    path: '/',
                    query: this.getNonEmptyFilters()
                })
            }
        },
        mounted() {
            this.setFilters(this.$route.query)
        }
    }
</script>
