<template>
    <div v-if="loading" class="is-overlay loading-container">
        <div class="loading-ring"></div>
    </div>
</template>

<script>
    export default {
        props: ['loading']
    }
</script>

<style>
.loading-container {
    background-color: #fffe;
}
.loading-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
}
.loading-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #555;
    border-color: #555 transparent #555 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>
