<template>
    <div class="container">
        <hr>
        <Navigation @is-delete="deleteDialog = true"></Navigation>

        <DeleteDialog
            v-if="deleteDialog"
            :deleting="deleting"
            @do-delete="contactDelete"
            @exit-delete="deleteDialog = false">
        </DeleteDialog>

        <hr>

        <Form
            v-if="($route.name === 'edit' || $route.name === 'create')"
            :contact="contact"
            :fields="fields"
            :errors="errors"
            @submit="contactSave"
        ></Form>

        <Show
            v-if="($route.name === 'show')"
            :contact="contact"
            :fields="fields"
        ></Show>

        <LoadingOverlay :loading="loading"></LoadingOverlay>
    </div>
</template>

<script>
    import {api} from '../mixins/api.js'
    import LoadingOverlay       from './loading-overlay.vue';
    import Navigation     from './single/navigation.vue';
    import DeleteDialog   from './single/delete-dialog.vue';
    import Form   from './single/form.vue';
    import Show   from './single/show.vue';

    export default {
        mixins: [api],
        components: {
            LoadingOverlay,
            Navigation,
            DeleteDialog,
            Form,
            Show
        },
        data () {
            return {
                loading : 0,
                deleting : false,
                deleteDialog : false,
                errors : {},
                contact : {
                    firstname : null,
                    lastname  : null,
                    email     : null,
                    picture   : null,
                    favorite  : false,
                    phonenumbers: []
                },
                fields : {
                    firstname: {
                        type: 'text',
                        name: 'Firstname',
                    },
                    lastname: {
                        type: 'text',
                        name: 'Lastname',
                    },
                    email: {
                        type: 'email',
                        name: 'E-mail',
                    }
                },
            }
        },
        methods: {
            async contactGet (id) {
                this.loading++;
                let response = await this.getContact(id)

                if (response)
                    this.contact = response;
                else
                    this.goToHome()

                this.loading--;
            },
            async contactSave (formData) {
                // Check if its edit or create
                this.loading = true;
                this.errors = {} // Remove all errors

                let response;

                if (this.contact.id)
                    response = await this.updateContact(this.contact.id, formData);
                else
                    response = await this.createContact(formData);

                this.loading = false;

                if (response) {
                    this.goToHome()
                }
            },
            async contactDelete () {
                this.deleting = true;
                await this.deleteContact(this.contact.id)
                this.deleting = false;
                this.goToHome()
            },
            goToHome() {
                this.$router.push({ 'name' : 'home' })
            }
        },
        mounted() {
            if (this.$route.params.id) {
                this.contactGet(this.$route.params.id)
            }
        }
    }
</script>
