<template>
    <div>
        <figure class="image is-1by1">
            <input @change="onAdd" v-if="!picture" class="input is-rounded" ref="imageUpload" type="file" name="picture">
            <div v-if="!picture" class="image-upload-cover is-rounded"></div>
            <img v-if="picture" v-bind:src="pictureUrl" class="is-rounded">
            <div v-if="uploadImage" :style="'background-image : url(' + uploadImage + ')'" class="preview-container"></div>

            <span @click="remove" v-if="uploadImage || picture" class="is-danger button is-small picture-remove">
                <span class="icon is-small">
                    <i class="fa fa-remove"></i>
                </span>
            </span>
        </figure>

        <p v-if="errors" class="help is-danger">
            <span v-for="info in errors">{{info}}</span>
        </p>
    </div>
</template>

<script>
    export default {
        props: [
            'picture',
            'pictureUrl',
            'errors'
        ],
        data() {
            return {
                'uploadImage': null
            }
        },
        methods: {
            remove () {
                this.$emit('remove-image');
                this.uploadImage = null;
                // Check if file input is active and unset it
                if (this.$refs.imageUpload) {
                    this.$refs.imageUpload.value = '';
                }
            },
            onAdd (event) {
                this.uploadImage = URL.createObjectURL(event.target.files[0])
            },
        }
    }
</script>

<style>
.is-rounded {
    border-radius: 50%;
}
.picture-remove {
    position: absolute;
    top: 10px;
    right: 10px;
}
.preview-container {
    background-size: cover;
    background-position: center;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 100%;
}
.input[name="picture"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.input[name="picture"]:hover {
    cursor: pointer;
}
.input[name="picture"]:hover + .image-upload-cover {
    opacity: 0.5;
}
.image-upload-cover {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    background-image: url('/svg/upload.svg');
    background-size: 50%;
    background-color: #ccc;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
}

</style>
