<template>
    <div>
        <div class="field" v-for="(field, key) in fields">
            <label class="label">{{field.name}}</label>
            <div class="control">
                <input class="input" v-bind:class="{ 'is-danger' : errors[key] }" v-model="contact[key]" :name="key" :type="field.type">
            </div>
            <p v-if="errors[key]" class="help is-danger">
                <span v-for="info in errors[key]">{{info}}</span>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'errors',
            'contact',
            'fields'
        ],
        data () {
            return {}
        },
        mounted () {
            console.log(this.contact);
        }
    }
</script>
