<template>
    <div class="columns">
        <input type="hidden" :name="inputName('id')" :value="phonenumber.id" v-if="phonenumber.id">

        <div class="column is-6">
            <input
                :class="{'is-danger' : isError('number')}"
                :name="inputName('number')"
                class="input"
                type="text"
                placeholder="e.g +385 95 000 0000"
                v-model="phonenumber.number"
            >
            <p v-if="isError('number')" class="help is-danger">
                <span v-for="info in getErrors('number')">{{info}}</span>
            </p>
        </div>

        <div class="column is-5">
            <input
                :class="{ 'is-danger' : isError('type')}"
                :name="inputName('type')"
                v-model="phonenumber.type"
                class="input"
                type="text"
                placeholder="e.g mobile"
            >
            <p v-if="isError('type')" class="help is-danger">
                <span v-for="info in getErrors('type')">{{info}}</span>
            </p>
        </div>

        <div class="column is-1">
            <a class="button" @click="remove">
                <span class="icon"><i class="fa fa-trash"></i></span>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'phonenumber',
            'index',
            'errors'
        ],
        data () {
            return {}
        },
        methods: {
            isError(type) {
                return (this.errors[`phonenumbers.${this.index}.${type}`]);
            },
            getErrors (type) {
                let field  = `phonenumbers.${this.index}.${type}`;
                let name   = field.split('.').pop();
                let errors = this.errors[field];

                return errors.map(x => x.replace(field, name));
            },
            inputName (type) {
                return `phonenumbers[${this.index}][${type}]`;
            },
            remove() {
                this.$emit('remove')
            }
        }
    }
</script>
